.site-header h1 {
    color: brown;
    font-size: 20px;
}

.site-header {
    background: rgb(63, 63, 63);
    padding: 10px 5%;
    box-shadow: 0 2px 3px black;
}

main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav ul li{
    display: inline;
}

.intro {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}