.site-header {
    background: rgb(63, 63, 63);
    padding: 20px 5%;
    box-shadow: 0 2px 3px black;
}

.site-header h1 {
    color: brown;
    font-size: 20px;
}

.main-nav {
    float: right;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav ul li{
    display: inline;
}

.main-nav ul li a {
    text-decoration: none;
    color: rgb(144, 59, 59);
}

.intro {
    margin-top: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.billboard {
    background: whitesmoke;
    text-align: center;
}

.columns {
    width: 90%
}

.grid {
    float: left;
    width: 70%;
}

.info {
    background: gray;
    float: right;
    width: 30%
}